# Dependências
node_modules/

# Expo
.expo/
dist/
web-build/
.expo-shared/
expo-env.d.ts

# Builds nativos
android/app/build/
android/.gradle/
ios/build/
ios/Pods/

# Chaves e certificados
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# Metro bundler
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Arquivos de ambiente
.env
.env.local
